body {
background-image: url('../images/Chalkboard.jpg');


}


.button {
    position: absolute;
    top: 50%;
    text-align: center;
}


#main {
width:89%;
max-width: 100%;
border: 1px gray solid;
margin: auto;
padding: 10px;
background-color: white;
border-radius: 0px;
height:100%;
}

#header{
height=100%;
width=100%;
border:3px hotpink solid;

}

h2{
text-align:center;

}

.container{

width:100%;
word-wrap: break-word;

}


p{
text-align:left;
text-overflow: ellipsis;
}